<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        
        <!-- Propiedades antiguas iguales a las que estan en el context xml crean conexiones sin usar el datasource "a pelo"-->
        <!--
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/banco</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>-->
        
        <!--Esta propiedad es para que implemente nuestro data source [pool]-->
        <property name="hibernate.connection.datasource">java:/comp/env/jdbc/banco</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property> <!--mysql-->
        <property name="hibernate.show_sql">true</property>

        <mapping resource="Datos/EntidadBancaria.hbm.xml"/>  <!-- Tantas como lineas de negocio tengamos referencia al fichero (barras) hmb-->
        <mapping resource="Datos/CuentaBancaria.hbm.xml"/>
        <mapping resource="Datos/MovimientoBancario.hbm.xml"/>
        <mapping resource="Datos/SucursalBancaria.hbm.xml"/>
    </session-factory>

</hibernate-configuration>